# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgresql://neondb_owner:npg_pxZDQ3bcN6PT@ep-cool-unit-aojkvoha-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

NODE_ENV=development
PORT=8000

# JWT
JWT_SECRET=super-secret-change-me
JWT_EXPIRATION_TIME="7d"

FRONTEND_ORIGIN=http://localhost:8080

# Mail configuration
# MAIL_MAILER=smtp
# MAIL_HOST=smtp.gmail.com
# MAIL_PORT=587
# MAIL_USERNAME=
# MAIL_PASSWORD=
# MAIL_ENCRYPTION=tls
# MAIL_FROM_ADDRESS=
# MAIL_FROM_NAME=

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=dmikp1jqr
CLOUDINARY_API_KEY=835361334883524
CLOUDINARY_API_SECRET=xfa2-a9OYbSGK1G0VMpSF6X78ZE
# CLOUDINARY_URL=cloudinary://835361334883524:xfa2-a9OYbSGK1G0VMpSF6X78ZE@dmikp1jqr


# Firebase configuration
FIREBASE_SERVICE_ACCOUNT_KEY=home-service-booking-e1027-firebase-adminsdk-fbsvc-0e54a6a291.json